<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Github User Search</title>
  </head>
  <body>
    <h1>Github User Search</h1>
    <form action="/users" method="POST">
      <label for="username">Enter a Github username:</label>
      <input type="text" id="username" name="username">
      <button type="submit">Search</button>
    </form>
  </body>
</html>